@import "tailwindcss";

/* Define Indonesian flag color scheme with bone white background */
:root {
  --background: #09090b; /* bone white */
  --foreground: #FF0000; /* red */
  --accent: #FF0000;
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.bg-accent {
  background-color: var(--accent);
}
